.ProgressBar {
    &_container {
        margin-top: auto;
        display: flex;
        flex-direction: column;
    }
    &_text {
        &_markers {
            display: flex;
            justify-content: space-between;
            color: #9aa2b1;
            font-size: 12px;
        }
    }
    
    &_indicator {
        &_container {
            height: 7px;
            width: 100%;
            position: relative;
            top: 9px;
        }
        &_oval {
            position: relative;
            height: 11px;
            width: 11px;
            border-radius: 100px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            &Iris {
                height: 3px;
                width: 3px;
                border-radius: 100px;
                background-color: #312fd8;
            }
        }
    }
}