
.btn {
  display: flex;
  align-self: center;
  justify-content: space-between;  
  border-radius: 8px;
  width: 90%;
  height: 59px;
  box-shadow: 0 11px 26px -10px rgba(38, 215, 200, 0.46);
  position: absolute;
  bottom: 26px;
}

.btn-quest {
  background-color: #312fd8;
}

.btn-false {
  background-color: #c4c4da;
  pointer-events: none;

}

.arrow-left {
  color: #ffffff;
  font-size: 3em;
  position: relative;
  display: flex;
  top: 17px;
  right: 4px;
}

.arrow-right {
  font-size: 1em;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 5px;
  right: 15px;
  color: #ffffff;
}
