.btn-quest {
  border-radius: 8px;
  box-shadow: 0 11px 26px -10px rgba(38, 215, 200, 0.46);
  background-color: #312fd8;
  width: 80%;
  height: 59px;
}

.btn-false {
  border-radius: 8px;
  box-shadow: 0 11px 26px -10px rgba(38, 215, 200, 0.46);
  width: 80%;
  height: 59px;
  background-color: #c4c4da;
  pointer-events: none;

}

.arrow-left {
  color: #ffffff;
  font-size: 3em;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.arrow-right {
  font-size: 1em;
  display: flex;
  justify-content: flex-start;
  position: relative;
  bottom: 25px;
  color: #ffffff;
}