@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;
    box-sizing: content-box;
}

.container {
    background-color: #ffffff;
    height: 100vh;
    direction: rtl;
    margin: 30px;
    width: 85%;
}

.humaaans-copy {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
}

.humaaans-copy img {
    height: 100%;
    width: 240px;
}

.rectangle-5 {
    border-radius: 4px;
    box-shadow: 0 11px 26px -10px rgba(174, 180, 192, 0.09);

    text-align: center;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 200px;
    height: 200px;

}

.saveLife {
    opacity: 0.8;
    color: #ff2e55;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    padding: 5%;

}

.mainText {
    opacity: 0.8;
    padding: 10%;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 1.25;
}

.rectangle-5 .text {
    height: 278px;
    line-height: 1.5;
    vertical-align: middle;
    background-image: linear-gradient(239deg, #deedf0 50%, #f9fbff 85%);
    border: solid 1px #e5eced;
    border-radius: 4px;
    width: 100%;
}

.btn-arrow {
    width: 77px;
    height: 77px;
    object-fit: contain;
    background: none;
}